body {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

h1 {
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

div {
	align-items: center;
	display: flex;
	justify-content: center;
}

.rg_embed_footer {
	align-items: center;
	display: flex;
	justify-content: center;
}